{% extends "admin/change_list.html" %}
{% load admin_list static %}

{% block blockbots %}
  {{ block.super }}
    <script>
    function  addFieldToSearchForm(){
        const searchForm = document.getElementById('changelist-search');
        const modelFieldInput = document.getElementById('model-fields-form');
        searchForm.appendChild(modelFieldInput);
    }

    function setNextPage(isNextPage, el) {
        el = document.getElementById(el);
        const qString = new URLSearchParams(el.href)
        const pageNumber = qString.get('p')

        if (qString.get('p') != null) {
            if (!(parseInt(qString.get('p')) < 2 && !isNextPage)){
                qString.set('p', isNextPage ? (parseInt(pageNumber) + 1).toString() : (parseInt(pageNumber) - 1))
            }
        }
        else {
            qString.set('p', isNextPage?'2':'1')
        }
        el.href = decodeURIComponent(qString.toString())
    }
    window.addEventListener('load', () => {
        setNextPage(false, 'prevBtn');
        addFieldToSearchForm();
    })
    window.addEventListener('load', () => setNextPage(true, 'nextBtn'))

    </script>
{% endblock %}

{% block search %}
{{ block.super }}
<div id="model-fields-form"
     class="actions"
     style="
       justify-content: space-between;
       max-width:100%;
       overflow: visible;
       margin: 25px
    " >

    {% for f in cl.fields_enumeration %}
        <div  style="display: flex">
            <input class="model-field" id="model_field" type="radio" name="mf" value="{{ f.0 }}" required >
            <label for="model_filed" style="padding: 5px">{{ f.1 }}</label>
        </div>

    {% endfor %}
    <div style="font-weight: bolder;">
        <img src="https://cdn-icons-png.flaticon.com/512/6357/6357834.png" height="35px" width="40px" alt="" >
        {{ cl.search_result_count }} Records   -   From {{cl.from_record}} to {{cl.to_record}}th
    </div>
</div>

{% endblock %}

{% block pagination %}
{{ block.super }}
<p class="paginator">
        <a id="prevBtn" href="" onload="setNextPage()">prev</a>
        <a id="nextBtn" href="">next</a>
    </p>

{% endblock %}
