{% extends "admin/change_list.html" %}
{% load admin_list static %}

{% block blockbots %}
  {{ block.super }}
{#    <script src="{% static 'js/custome_pagination.js' %}"></script>#}
    <script>
    function  addFieldToSearchForm(){
        console.log('changeing form')
        const searchForm = document.getElementById('changelist-search')
        const modelFieldInput = document.getElementById('model-fields-form')
        searchForm.appendChild(modelFieldInput);
    }

    function setNextPage(isNextPage, el) {


        el = document.getElementById(el);
        const qString = new URLSearchParams(el.href)

        {#if (qString.get('q') == null) {return}#}

        const pageNumber = qString.get('p')

        if (qString.get('p') != null) {
            qString.set('p', isNextPage?(parseInt(pageNumber) + 1).toString(): (parseInt(pageNumber) - 1))
        }
        else {
            qString.set('p', isNextPage?'2':'1')
        }

        el.href = decodeURIComponent(qString.toString())
    }
    {#const nextBtn = document.getElementById('nextBtn');#}
    {#const prevBtn = document.getElementById('prevBtn');#}
    window.addEventListener('load', () => {
        setNextPage(false, 'prevBtn');
        addFieldToSearchForm();
    })
    window.addEventListener('load', () => setNextPage(true, 'nextBtn'))


    </script>
{% endblock %}

{% block search %}
{{ block.super }}
<div id="model-fields-form"
     class="actions"
     style="justify-content: space-between;
      max-width:100%;
       overflow: visible;
       margin: 25px
       {#5px 25px 0 25px#}
    " >
    {% for f in cl.fields_enumeration %}
        <div  style="display: flex">
            <input class="model-field" id="model_field" type="radio" name="mf" value="{{ f.0 }}" required >
            <label for="model_filed" style="padding: 5px">{{ f.1 }}</label>
        </div>
    {% endfor %}
</div>

{% endblock %}
{% block pagination %}
    <p class="paginator">
        <a id="prevBtn" href="" onload="setNextPage()">prev</a>
        <a id="nextBtn" href="">next</a>
    </p>

{% endblock %}
